<div class="splash-container">
  <div class="logo-container">
    <%= image_tag('1802402.png', alt: 'Example image', class: 'logo') %>
    <p class="splashtext min-width: 1">MoneyMinder</p>
  </div>
  <div class="sign-links">
  <%= link_to 'Sign up', new_user_registration_path,  class: 'btn btn-primary sign-up sign-up-btn-boarder sign-up-color' %> 
    <%= link_to 'Log in'.html_safe, new_user_session_path, class: 'log-in' %>
  </div>
</div>
<div class="shadow"></div>